<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${title}">Keskustelupalsta</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h2 th:text="${title}">Keskustelupalsta</h2>
            <p>Tällä alueella on seuraavat keskustelut:</p>
            <p><a th:href="@{~/avaa/{t}(t=${alueenWebTunnus})}">Avaa uusi keskustelu</a></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Keskustelu</th>
                        <th>Viestejä yhteensä</th>
                        <th>Viimeisin viesti</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="keskustelu: ${keskustelut}">
                        <td>
                            <a th:href="@{~/keskustelu/{t}(t=${keskustelu.tunnus})}" th:text="${keskustelu.otsikko}">
                                keskustelun otsikko
                            </a>
                        </td>
                        <td th:text="${keskustelu.viestejaYhteensa}"> </td>
                        <td th:text="${keskustelu.uusinViesti}"> </td>
                    </tr>
                </tbody>
            </table>

            <nav th:if="${naytaSivujenNavigointi}">
                <ul class="pagination">
                    <li th:class="${onkoEnsimmainenSivu} ? 'disabled'">
                        <a aria-label="Edellinen"
                           th:href="@{~/alue/{t}(t=${alueenWebTunnus},sivu=${edellinenSivu})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="sivu: ${sivut}"
                        th:class="${sivu==nykyinenSivu} ? 'active'">
                        <a th:text="${sivu}"
                           th:href="@{~/alue/{t}(t=${alueenWebTunnus},sivu=${sivu})}">1</a>
                    </li>

                    <li th:class="${onkoViimeinenSivu} ? 'disabled'">
                        <a aria-label="Seuraava"
                           th:href="@{~/alue/{t}(t=${alueenWebTunnus},sivu=${seuraavaSivu})}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </body>

</html>